<!doctype html>
<html lang="en">
<head>
<title>Peach Email Template</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body bgcolor="#f4f4f4" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Email Title -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td height="75">
		<a style="font-family: Helvetica, arial, sans-serif; font-size: 18px; font-weight: bold; text-decoration: none; color: #484848" href="#">Peach - Email Template</a>
	</td>
</tr>
</tbody></table>

<!-- Top Border -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td height="3">
		<img width="650" height="3" style="display: block;" src="img/top.jpg">
	</td>
</tr>
</tbody></table>

<!-- Headline -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" align="center" height="100" style="font-family: Helvetica, arial, sans-serif; font-size: 22px; color: #191919; font-weight: bold; line-height: 29px;">
		Lorem Ipsum<br>
		<span style="font-weight: normal; font-size: 18px; color: #6c6c6c;">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
		</span>
	</td>
</tr>
</tbody></table>

<!-- Divider -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" height="20" valign="top">
		<img width="648" height="1" style="display: block;" src="img/divider.jpg">
	</td>
</tr>
</tbody></table>

<!-- Content -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" width="30">&nbsp;</td>
	<td bgcolor="#FFFFFF" align="left" style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #4f4f4f; line-height: 15px;">
		<span style="font-weight: bold;">Hello John Doe,<br><br></span>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br><br>
		Stet clita kasd gubergren: <a style="text-decoration: none; color: #315e8b; font-weight: bold;" href="#">Takimata sanctus est Lorem ipsum dolor sit amet.</a><br><br>
		Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
	</td>
	<td bgcolor="#FFFFFF" width="30">&nbsp;</td>
</tr>
</tbody></table>

<!-- Empty Placeholder -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" height="20" valign="top">&nbsp;</td>
</tr>
</tbody></table>

<!-- Bottom Border -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td height="22">
		<img width="650" height="22" style="display: block;" src="img/bottom.jpg">
	</td>
</tr>
</tbody></table>

<!-- Padding -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td width="650" bgcolor="#f4f4f4" height="10">
	</td>
</tr>
</tbody></table>

<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td width="650" bgcolor="#f4f4f4" align="center">
		<span style="font-family: Helvetica, arial, sans-serif; font-size: 11px; color: #636363; font-style: normal; line-height: 16px;">
			You have received this email because you have subscribed to Company as <a style="text-decoration: none; color: #315e8b; font-weight: bold;" href="mailto:email@example.com">email@example.com</a>. If you no longer wish to receive emails from Company please <a style="text-decoration: none; color: #315e8b; font-weight: bold;" href="#">unsubscribe</a>
		</span>
	</td>
</tr>
</tbody></table>

</body>
</html>
